.overline {
  color: var(--color-brand-primary);
  font-size: var(--font-size-overline);
  line-height: var(--line-height-overline);
  letter-spacing: var(--letter-spacing-overline);
  text-transform: uppercase;
}